<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cielo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{968,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{968,225}}</string>
                <key>sourceSize</key>
                <string>{968,225}</string>
            </dict>
            <key>cielo0.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,889},{243,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,400}}</string>
                <key>sourceSize</key>
                <string>{243,400}</string>
            </dict>
            <key>kid0.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1670},{81,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,111}}</string>
                <key>sourceSize</key>
                <string>{81,111}</string>
            </dict>
            <key>kid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1446},{159,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,223}}</string>
                <key>sourceSize</key>
                <string>{159,223}</string>
            </dict>
            <key>kid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{958,400}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{958,400}}</string>
                <key>sourceSize</key>
                <string>{968,400}</string>
            </dict>
            <key>mountains.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{968,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{968,115}}</string>
                <key>sourceSize</key>
                <string>{968,115}</string>
            </dict>
            <key>player0.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1670},{104,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,156}}</string>
                <key>sourceSize</key>
                <string>{104,156}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1827},{104,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,154}}</string>
                <key>sourceSize</key>
                <string>{104,154}</string>
            </dict>
            <key>sea.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{968,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{968,145}}</string>
                <key>sourceSize</key>
                <string>{968,145}</string>
            </dict>
            <key>tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,889},{747,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,400}}</string>
                <key>sourceSize</key>
                <string>{747,400}</string>
            </dict>
            <key>tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1290},{728,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,400}}</string>
                <key>sourceSize</key>
                <string>{728,400}</string>
            </dict>
            <key>tree0.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1290},{290,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,155}}</string>
                <key>sourceSize</key>
                <string>{290,155}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1290},{290,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,155}}</string>
                <key>sourceSize</key>
                <string>{290,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endSequence2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3710212b9d4be9db021c560833abdf0$</string>
            <key>textureFileName</key>
            <string>endSequence2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
